.button
  padding: .5rem 1.5rem
  border: none
  border-radius: .75rem
  color: var(--base)
  font-size: 1.5rem
  background-color: var(--rose)
  transition: background-color 0.2s ease
  cursor: pointer

  &:hover
    background-color: var(--dark-rose)

  &:active
    background-color: var(--blue)