* 
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Josefin Sans', sans-serif

html body
  height: 200%

html
  @media (max-width: 1080px)
    font-size: 93.75%
  
  @media (max-width: 720px)
    font-size: 87.5%

  @media (max-width: 360)
    font-size: 81.25%